@font-face {
  font-family: 'FanMengNaiLao';
  src: url('./FanMengWenRouNaiLaoTi-2.ttf') format('truetype');
}

body {
  font-family: 'FanMengNaiLao', sans-serif;
  font-size: 18px;
  line-height: 1.85;
}
